<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--di:依赖注入,表示创建对象,并给属性赋值
        di的实现方式:
            1.基于xml配置
            2.基于注解,使用spring中的注解
        di的语法分类:
            1.set注入(设值注入):spring调用类的方法,使用set方法实现属性赋值
            2.构造注入,spring调用类的有参数构造方法创建对象并为属性赋值

        简单类型:spring中规定java的基本数据类型和String字符串都是简单类型
    -->
    <!--
        1.set注入:
            1).简单类型的set注入-->
    <bean id="student" class="top.top234.ssm.b01.Student">
        <property name="id" value="9008"/>
        <property name="name" value="alex"/>
    </bean>

    <!--2).引用类型的set注入-->
    <bean id="student2" class="top.top234.ssm.b01.Student">
        <property name="name" value="lisi"/>
        <property name="id" value="9003"/>
        <!--ref的值为一个bean的id值-->
        <property name="school" ref="school"/>
    </bean>

    <!--声明School对象-->
    <bean id="school" class="top.top234.ssm.b01.School">
        <property name="name" value="qinghua"/>
        <property name="address" value="beijinghandian"/>
    </bean>


    <!--2.构造注入:
        <constructor-arg name="" value="" ref="" index="" type=""/>
        构造注入使用<<constructor-arg > 标签:一个<constructor-arg>表示构造方法的一个参数
        <constructor-arg>标签属性:
            name:构造方法形参名
            index:构造方法形参位置,从左往右 0,1,2...
            value:简单类型参数赋值
            ref:引用类型参数赋值
    -->
    <bean id="student3" class="top.top234.ssm.b01.Student">
        <constructor-arg name="id" value="80023"/>
        <constructor-arg name="name" value="alex"/>
        <constructor-arg index="2" ref="school"/>
    </bean>
    <!--省略index-->
    <bean id="student4" class="top.top234.ssm.b01.Student">
        <constructor-arg value="80073"/>
        <constructor-arg value="wang"/>
        <constructor-arg ref="school"/>
    </bean>
</beans>