<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--di:依赖注入,表示创建对象,并给属性赋值
        di的实现方式:
            1.基于xml配置
            2.基于注解,使用spring中的注解
        di的语法分类:
            1.set注入(设置注入):spring调用类的方法,使用set方法实现属性赋值
            2.构造注入,spring调用类的有参数构造方法创建对象并为属性赋值

        简单类型:spring中规定java的基本数据类型和String字符串都是简单类型
    -->
    <!--1.简单类型的set注入-->
    <bean id="student" class="top.top234.ssm.b01.Student">
        <property name="id" value="9008"/>
        <property name="name" value="alex"/>
    </bean>
</beans>